<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href=" https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css">
    <link rel="stylesheet" href="/css/main.css">
    <title>Add New Product</title>
</head>
<body>
    <div class="container">
    <h1>Add Product</h1>
    
    <form action="/products" method="POST">
        IMG: <input type="text" name="img"><br>
        Name: <input type="text" name="name"><br>
        Desc: <input type="text" name="description"><br>
        Price: <input type="number" name="price"><br>
        Qty: <input type="number" name="qty"><br>
        <input type="submit" value="Create Product">
    </form>
    </div>
</body>
</html>