body{
    background-color: #41729F;
    color: #C3E0E5;

}
button{
    background-color: #C3E0E5;
    color: #274472;
}
header{
    text-align: center;
}
.container{
    /* border: 4px solid red; */
    text-align: center;
    font-size: 1.9rem;
   }
.container ul{
    /* border: 6px solid rgb(76, 205, 37); */
    list-style: none;
    display: flex;
    justify-content: space-around;
  
}
.item{
    border: 2px solid #C3E0E5;
    border-radius: 10px;
    background-color: #274472;
    width: 30%;
}
img{
    width: 225px;
    border-radius: 10px;
}
/*=============SHOW PAGE STYLES================== */
.showPageCard{
    width: 40%;
    margin: auto;
    background-color: #274472;
    border: 2px solid #C3E0E5;
    border-radius: 10px;
}
.buyButton{
    background-color: #39ff14;
    color: black;
    border: none;
}
.editButton{
    background-color: red;
    color: black;
    border: none;
}